version: '3'

services:
  node-server:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    volumes:
      - ./server:/server
      - /server/node_modules
    expose:
      - ${APP_SERVER_PORT}
    environment:
      API_HOST: ${API_HOST}
      APP_SERVER_PORT: ${APP_SERVER_PORT}
      
    ports:
      - "${APP_SERVER_PORT}:${APP_SERVER_PORT}"
  
  frontend:
    container_name: frontend
    build:
      context: ./client
      dockerfile: Dockerfile.frontend
    volumes:
      - ./client:/client
      - '/app/node_modules'
    expose: 
      - ${REACT_APP_PORT}
    ports:
      - ${REACT_APP_PORT}:${REACT_APP_PORT}
    stdin_open: true
    environment:
      - CHOKIDAR_USEPOLLING=true
   
  db:
    image: postgres:latest
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: pass
      POSTGRESQL_USERNAME: node
      POSTGRES_DB: mainDB
  
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080